<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="static/stylesheets/main_page_style.css">
        <title>Eventi Storici</title>
    </head>
    <body>

        <div class="container" id="text">
            <h1>Eventi Storici</h1>
            La nostra applicazione ti permette di selezionare una data e ti mostra un evento storico casuale accaduto in quella data. <br>
            Il risultato viene pubblicato sul <a href="https://t.me/eventi_storici">canale Telegram</a> e sul <a href="https://twitter.com/dockervrun">profilo Twitter</a>.<br>
            Inoltre viene effettuata una ricerca su CouchDB e viene caricato un file con tutti gli eventi storici accaduti della data inserita sul tuo account Dropbox.
            <br><br>
            <a href="http://localhost:3000/auth" class="login_button">Accedi con Dropbox</a>
        </div>

    </body>
</html>
