<!doctype html>
<html>
	<head>
		<title>Smartphone Finder</title>
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<style>
			body {padding-top:80px;}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Cerca uno smartphone <span class="glyphicon glyphicon-search"></span></h1>
				
				<!-- form per la ricerca -->
				<form action="/search" method="post">
					<div class="form-group">
						<label>Inserisci il modello dello smartphone</label>
						<input type="text" class="form-control" name="model">
					</div>
					<button type="submit" class="btn btn-default btn-lg">Cerca</button>
				</form>
				<br>
				
			</div>
		</div>
	</body>
</html>